imageio==2.26.0
numpy==1.24.2
omegaconf==2.3.0
opencv_python==4.7.0.72
Pillow==9.5.0
# scipy==1.9.1
setuptools==67.6.0
tqdm==4.65.0
ipympl # for interactive notebook
wandb
tensorboard
einops
h5py
beautifulsoup4
selenium
